/* global settings */
html {
    background-image: linear-gradient(rgb(172,160,160), rgb(78, 77, 77));
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size:18px;
}


/* header */
header {
    background-image: url(./images/officebuilding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    box-shadow: 10px 5px 5px black;
}

.title {
    text-align: center;
    width: 20%;
    background-color: rgba(172,160,160, 0.6);
    align-self: center;
    flex:1;
}
header nav {
    background-color: rgba(172,160,160,0.6);
}

header ul {
    list-style: none;
    padding-right: 4rem;
    background-color: rgba(133, 31, 31, 0.6);
    flex: 1;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

a {
    color: black;
}

/* mission */

.mission {
    display:flex;
    align-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    flex-wrap: wrap;
    height: 100%;

}

.mission h2 {
    align-self: center;
}

.mission p {
    align-self: center;
    padding: 1rem;
    width: 25%;
}

.mission img {
    height: 100%;
    align-self: center;
}

.mispix {
    height: 100%;
    align-self: center;
    flex:2;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 2;
}

/* services */

.services {
    display:flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 5rem;
}
.services h2 {
    padding-right: 1rem;
    align-self: center;
}

.serv {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding left: 1rem;
    text-align: center;
}

.serv img {
    height: 200px;
    margin: 1rem;
}

/* team */

.team {
    display:flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 5rem;
}
.team h2 {
    padding-right: 1rem;
    align-self: center;
}

.people {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding left: 1rem;
    text-align: center;
}

.people img {
    height: 200px;
    margin: 1rem;
}

/* splitter */
.contact {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    box-shadow: 5px 5px 5px black;
}

.contact img {
    height: 100%;
    width: 100%;
    }


footer {
    text-align: center;
}
